# Server Configuration
PORT=5000
NODE_ENV=development

# URLs
BASE_URL=
FRONTEND_URL=

# เพิ่ม URL สำหรับ WebSocket..
WS_DEV_URL=
WS_PROD_URL=
# Database DB_URL=
DB_URL=
#DB_URL=
# Authentication
SECRET=
REFRESH_SECRET=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=


DEFAULT_BILLING_EMAIL=
