# Server Configuration
PORT=5000
NODE_ENV=development

# URLs
DEV_API_URL=http://localhost:5000
PROD_API_URL=https://possibleserver.onrender.com
BASE_URL=http://localhost:5173
FRONTEND_URL=http://localhost:5173

# เพิ่ม URL สำหรับ WebSocket..
WS_DEV_URL=ws://localhost:5000
WS_PROD_URL=wss://possibleserver.com
# Database DB_URL=mongodb://localhost:27017/mern_possible
DB_URL=mongodb+srv:
#DB_URL=mongodb://localhost:27017/mern_possible
# Authentication
SECRET=Ek654259022

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

STRIPE_SECRET_KEY=sk_live_51Qwsyk
STRIPE_PUBLISHABLE_KEY=pk_live_51QwsykHr9z3
STRIPE_WEBHOOK_SECRET=whsec_c74293cd


DEFAULT_BILLING_EMAIL=654259022@webmail.npru.ac.t